{
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
  ],
  "presets": [
    "react",
    [
      "babel-preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry",
      },
    ],
  ],
}
