# Node specific #
lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
pids
logs
npm-debug.log
node_modules/
yarn-error.log

# Gulp
.tmp

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
!icons
ehthumbs.db
Thumbs.db

# Sublime specific #
sftp-config*
*.sublime-*
