html {
  color: #000;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  height: 100%;
  line-height: 1;
  min-height: 100%;
  overflow: hidden;
}

body {
  background-color: #fff;
  font-size: 3rem;
  height: 100%;
  line-height: 1;
  min-width: 320px;
  padding-left: 100px;
  padding-right: 100px;
}
