doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		title Game board

		link(rel="stylesheet", href="stylesheets/main.css")

	body
		//- Board status
		#boardStatus.navbar.navbar-default.navbar-fixed-top: .container-fluid
			.navbar-header: span.navbar-brand {board.title}
			.navbar-form.navbar-right
				button.btn(type="submit", rv-class-btn-success="boardOpenForPlayers", rv-class-btn-danger="boardOpenForPlayers | negate", disabled)
					span.glyphicon(aria-hidden="true", rv-class-glyphicon-ok="boardOpenForPlayers", rv-class-glyphicon-remove="boardOpenForPlayers | negate")

		//- Game board
		#gameBoard.container-fluid
			table.table
				thead: tr
					th(rv-each-category="categories") {category}
				tbody
					tr(rv-each-value="board.values")
						td(rv-each-category="categories")
							button.btn.btn-block.btn-lg(type="button", rv-on-click="showQuestion", rv-disabled="questionStatus", rv-style-background-color="questionColor") {value}

		//- Players
		#players.container-fluid
			table.table: tr
				td(rv-each-player="players"): .panel.panel-default(rv-class-current-player="player.isCurrentPlayer")
					.panel-heading(rv-style-background-color="player.color"): h3.panel-title {player.name} ({player.key})
					.panel-body {player.value}

		//- Question modal
		#question.modal.fade: .modal-dialog: .modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close", rv-on-click="leaveQuestion"): span(aria-hidden="true") &times;
				h4.modal-title {currentQuestion.category}

			.modal-body
				p.currentPlayer(rv-style-background-color="currentPlayer.color", rv-text="currentPlayer.name", rv-if="currentPlayer")
				p(rv-html="currentQuestion.answer")

			.modal-footer: .text-center
				button.btn.btn-danger.pull-left(type="button", rv-on-click="wrongAnswer", rv-enabled="currentPlayer") Wrong
				button.btn(type="button", rv-on-click="noAnswer") No answer
				button.btn.btn-success.pull-right(type="button", rv-on-click="correctAnswer", rv-enabled="currentPlayer") Correct

		//- Daily double modal
		#dailydouble.modal.fade: .modal-dialog: .modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close", rv-on-click="leaveQuestion"): span(aria-hidden="true") &times;
				h4.modal-title Daily double!

			.modal-body
				p.currentPlayer(rv-style-background-color="currentPlayer.color", rv-text="currentPlayer.name")
				.form-group
					input.form-control.input-lg(type="number", step="10", rv-min="dailydoubleMin", rv-max="dailydoubleMax", rv-value="dailydouble")

			.modal-footer: .text-center
				button.btn.btn-success.pull-right(type="button", rv-on-click="dailydoubleSelected") Go

		//- User selection
		#playerOptions.modal.fade: .modal-dialog: .modal-content: form.form-horizontal(onsubmit="return false")
			.modal-header
				h4.modal-title Players

			.modal-body
				.form-group.has-feedback(rv-each-player="players", rv-class-has-success="player.keyWorking", rv-class-has-error="player.keyWorking | negate")
					.col-sm-10
						.input-group
							span.input-group-addon {player.key}
							input.form-control(rv-value="player.name")
						span.glyphicon.form-control-feedback(aria-hidden="true", rv-class-glyphicon-ok="player.keyWorking", rv-class-glyphicon-warning-sign="player.keyWorking | negate")
					.col-sm-2
						button.btn.btn-danger.btn-block(type="button", rv-on-click="deletePlayer")
							span.glyphicon.glyphicon-remove(aria-hidden="true")

			.modal-footer
				button.btn.btn-success.pull-left(type="button", rv-on-click="addPlayer") Add player
				button.btn.btn-primary(rv-on-click="startGame", rv-enabled="allPlayersReady < lastUpdate") Start game

		//- Final screen
		#finalScreen.modal.fade: .modal-dialog: .modal-content
			.modal-header
				h4.modal-title Final result

			.modal-body: table.table
				tr(rv-each-player="players")
					th {player.name}
					td {player.value}

		//- Gamedata
		script window.gamedata = !{JSON.stringify(data)};

		//- JavaScripts
		script(src="rivets/dist/rivets.bundled.min.js")
		script(src="jquery/dist/jquery.min.js")
		script(src="mousetrap/mousetrap.min.js")
		script(src="randomcolor/randomColor.js")
		script(src="bootstrap/dist/js/bootstrap.min.js")
		script(src="scripts/helper.js")
		script(src="scripts/main.js")
