@charset 'UTF-8';

@import 'normalize.css/normalize.css';
@import 'components/root';
@import 'components/game-wrapper';
@import 'components/game';
@import 'components/board';
@import 'components/button';
@import 'components/players';
@import 'components/player';
@import 'components/players-input';
@import 'components/player-name-input';
@import 'components/control';
@import 'components/question';
@import 'components/daily-double';
@import 'components/content';
