doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='x-ua-compatible', content='ie=edge')

    title Jeopardy

    link(rel='stylesheet', href='stylesheets/game.scss')

  body
    #game.game-wrapper

    script(src='javascripts/game.js')
